<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a href="https://www.facebook.com/arsintescu.andrei?fref=ts">Arsintescu Andrei</a>
            </li>
            <li><a href="#top">Home</a>
            </li>
            <li><a href="#about">Despre</a>
            </li>
            <li><a href="#services">Servicii</a>
            </li>
            <li><a href="#portfolio">Portofoliu</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li>
        </ul>
    </div>